[submodule "catkin_ws/src/barracuda_description"]
	path = catkin_ws/src/barracuda_description
	url = git@github.com:usc-robosub/barracuda_description.git
	branch = main
[submodule "catkin_ws/src/uuv_descriptions"]
	path = catkin_ws/src/uuv_descriptions
	url = git@github.com:usc-robosub/uuv_descriptions.git
[submodule "catkin_ws/src/uuv_gazebo_ros_plugins"]
	path = catkin_ws/src/uuv_gazebo_ros_plugins
	url = git@github.com:usc-robosub/uuv_gazebo_ros_plugins.git
